.jumbotron{
    background: url('../images/health.png') no-repeat center center;

    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */


    align-items: center;
}
body {
    background: steelblue;
}

p {
    color: whitesmoke;
}
